// @font-face {
//   font-family: 'DIN';
//   src: url('~@/assets/fonts/DINBold.ttf');
// }

// @font-face {
//   font-family: 'OPPOSans';
//   src: url('~@/assets/fonts/OPPOSans-H.ttf');
// }
.full {
  width: 100%;
  height: 100%;
}
.h-half {
  width: 100%;
  height: 50%;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}

.flex {
  display: flex;
}
.aligncenter {
  align-items: center;
}

.justifycenter {
  justify-content: center;
}

.justifybetween {
  justify-content: space-between;
}
.cursor {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: inline-block;
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}